@import "tailwindcss";

@theme {
  --color-primary-blue: hsla(229, 83%, 60%, 1);
  --color-light-blue: hsla(210, 100%, 96%, 1);
  --color-heading: hsla(207, 30%, 14%, 1);
  --color-text: hsla(212, 11%, 35%, 1);
  --color-overlay: hsla(0, 0%, 0%, 0.5);
  --color-footer: hsla(229, 80%, 6%, 1);
}

h2 {
  @apply text-heading text-center text-2xl leading-[150%] font-bold md:text-[32px] md:leading-[100%] md:text-5xl mb-10 md:mb-[50px] lg:mb-[80px];
}

.paragraph {
  @apply text-text text-base md:text-[18px] lg:text-xl leading-[170%];
}
